<%= render partial: 'partial/navigation' %>
<div class="overlay" data-controller="home_page" data-handler="hide_overlay">
    <figure>
        <button data-controller="home_page" data-handler="hide_overlay">x</button>
        <%= image_tag 'portfolio/restaurant.jpg', class: 'figure__image' %>
        <div class="figure__image-number">1/6</div>
    </figure>
    <button class="overlay__left-arrow" 
        data-controller="home_page" 
        data-handler="change_preview_item"
        data-direction="left"></button>
    <button class="overlay__right-arrow" 
        data-controller="home_page" 
        data-handler="change_preview_item"
        data-direction="right"></button>
</div>
<section class="main-section" id="main" data-page="home">
    <div class="banner">
        <h1 class="banner__main-header">Hi, I'm Will.</h1>
        <h2 class="banner__sub-header">Software Developer</h2>
        <h2 class="banner__sub-header retracting-text retract">Proficient in <span>Creating Websites.</span></h2>
    </div>
    <a href="#about-me-section" class="banner__down-arrow bounce" data-controller="home_page">
        <i 
            class="ti-angle-down down-arrow-link" 
            data-controller="home_page">
        </i>
    </a>
</section>
<section class="about-me" id="about-me" data-page="home">
    <div class="about-me__profile-picture-container">
        <%= image_tag 'profile.JPG' %>
    </div>
    <div class="about-me__text">
        <h2>About Me</h2>
        <p>
            I'm a full-stack web developer who's keen on providing the best user experience through intuitive user interface designs. For information on the technologies I use, please scroll down below.
        </p>
        <div class="about-me__icons">
            <a href="https://www.facebook.com/christianwillvyngson" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                <i class="ti-facebook"></i>
            </a>

            <a href="https://accounts.google.com" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                <i class="ti-google"></i>
            </a>
            <% if false %>
                <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                    <i class="ti-twitter-alt"></i>
                </a>

                <a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                    <i class="ti-instagram"></i>
                </a>

                <a href="https://twitter.com" target="_blank" rel="noopener noreferrer" class="about-me__icons__icon">
                    <i class="ti-tumblr-alt"></i>
                </a>
            <% end %>
        </div>
    </div>
</section>
<section class="services" id="services" data-page="home">
    <h2 class="services-first__header">Services</h2>
    <h3 class="services__second-header">What I can do</h3>
    <ul class="services__list">
        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-desktop"></i>
                </span>
            </div>
            <h4>Web UI Design</h4>
            <p>Elegant and efficient user interface design for optimum user experience.</p>
        </li>
        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-layout"></i>
                </span>
            </div>
            <h4>Web Development</h4>
            <p>Creation of full-stack web applications or web services for mobile devices.</p>
        </li>
        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-mobile"></i>
                </span>
            </div>
            <h4>Mobile Support</h4>
            <p>Custom layout for mobile devices.</p>
        </li>

        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-target"></i>
                </span>
            </div>
            <h4>Game Development</h4>
            <p>Creation of web-based games that are compatible with mobile devices using Phaser JS.</p>
        </li>

        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-harddrives"></i>
                </span>
            </div>
            <h4>Application Deployment</h4>
            <p>Virtual Private Server configuration for quick and seamless deployment.</p>
        </li>

        <li>
            <div>
                <span class="services__list__icon-container">
                    <i class="ti-settings"></i>
                </span>
            </div>
            <h4>Application Maintenance</h4>
            <p>Extending sofware features and fixing errors.</p>
        </li>
        
    </ul>
</section>
<section class="achievements" id="achievements">
    <div class="achievements__item">
        <div class="achievements__item__icon-container">
            <i class="ti-user"></i>
        </div>
        <div class="achievements__item__count happy-users">
            3
        </div>
        <p class="achievements__item__description">
            Happy Clients
        </p>
    </div>

    <div class="achievements__item">
        <div class="achievements__item__icon-container">
            <i class="ti-briefcase"></i>
        </div>
        <div class="achievements__item__count happy-users">
            1
        </div>
        <p class="achievements__item__description">
            Projects Completed
        </p>
    </div>

    <div class="achievements__item">
        <div class="achievements__item__icon-container">
            <i class="ti-desktop"></i>
        </div>
        <div class="achievements__item__count happy-users">
            2
        </div>
        <p class="achievements__item__description">
            Websites Created
        </p>
    </div>

    <div class="achievements__item">
        <div class="achievements__item__icon-container">
            <i class="ti-medall"></i>
        </div>
        <div class="achievements__item__count happy-users">
            4
        </div>
        <p class="achievements__item__description">
            Trainings Finished
        </p>
    </div>
</section>
<section class="portfolio" id="portfolio" data-page="home">
    <h2 class="portfolio__header">Portfolio</h2>
    <h3 class="portfolio__description">Projects I have done</h3>
    <ul class="portfolio__button-list">
        <li>
            <button class="active" 
                data-category="all"
                data-controller="home_page" 
                data-handler="filter_portfolio">All</button>
        </li>
        <li>
            <button 
                data-category="web-design"
                data-controller="home_page" 
                data-handler="filter_portfolio">Web Design</button>
        </li>
        <li>
            <button 
                data-category="applications"
                data-controller="home_page" 
                data-handler="filter_portfolio">Applications</button>
        </li>
        <li>
            <button 
                data-category="development"
                data-controller="home_page" 
                data-handler="filter_portfolio">Development</button>
        </li>
    </ul>
    <div class="portfolio__gallery">
        <figure class="portfolio__gallery__item">
            <div class="portfolio__gallery__item__placeholder">
                <div class="portfolio__gallery__item__container" data-category="all">
                    <div class="portfolio__gallery__item__container__lightbox">
                        <div class="hollow-container"></div>
                        <h2>Application</h2>
                        <button data-controller="home_page" data-handler="preview_portfolio_item">
                            <i class="ti-search" data-controller="home_page" data-handler="preview_portfolio_item"></i>
                        </button>
                    </div>
                    <%= image_tag 'portfolio/restaurant.jpg' %>
                </div>
            </div>
        </figure>
        <figure class="portfolio__gallery__item">
            <div class="portfolio__gallery__item__placeholder">
                <div class="portfolio__gallery__item__container" data-category="development applications all">
                    <div class="portfolio__gallery__item__container__lightbox">
                        <div class="hollow-container"></div>
                        <h2>Web Design</h2>
                        <button data-controller="home_page" data-handler="preview_portfolio_item">
                            <i class="ti-search" data-controller="home_page" data-handler="preview_portfolio_item"></i>
                        </button>
                    </div>
                    <%= image_tag 'portfolio/burger.jpg' %>
                </div>
            </div>
        </figure>
        <figure class="portfolio__gallery__item">
            <div class="portfolio__gallery__item__placeholder">
                <div class="portfolio__gallery__item__container" data-category="web-design applications all">
                    <div class="portfolio__gallery__item__container__lightbox">
                        <div class="hollow-container"></div>
                        <h2>Web Design</h2>
                        <button data-controller="home_page" data-handler="preview_portfolio_item">
                            <i class="ti-search" data-controller="home_page" data-handler="preview_portfolio_item"></i>
                        </button>
                    </div>
                    <%= image_tag 'portfolio/chicken.jpg' %>
                </div>
            </div>
        </figure>
        <figure class="portfolio__gallery__item">
            <div class="portfolio__gallery__item__placeholder">
                <div class="portfolio__gallery__item__container" data-category="development all">
                    <div class="portfolio__gallery__item__container__lightbox">
                        <div class="hollow-container"></div>
                        <h2>Application</h2>
                        <button data-controller="home_page" data-handler="preview_portfolio_item">
                            <i class="ti-search" data-controller="home_page" data-handler="preview_portfolio_item"></i>
                        </button>
                    </div>
                    <%= image_tag 'portfolio/guitar.jpg' %>
                </div>
            </div>
        </figure>
        <figure class="portfolio__gallery__item">
            <div class="portfolio__gallery__item__placeholder">
                <div class="portfolio__gallery__item__container" data-category="web-design applications all">
                    <div class="portfolio__gallery__item__container__lightbox">
                        <div class="hollow-container"></div>
                        <h2>Development</h2>
                        <button data-controller="home_page" data-handler="preview_portfolio_item">
                            <i class="ti-search" data-controller="home_page" data-handler="preview_portfolio_item"></i>
                        </button>
                    </div>
                    <%= image_tag 'portfolio/desktop.jpg', class: 'portfolio__gallery__item__image' %>
                </div>
            </div>
        </figure>
        <figure class="portfolio__gallery__item">
            <div class="portfolio__gallery__item__placeholder">
                <div class="portfolio__gallery__item__container" data-category="web-design applications all">
                    <div class="portfolio__gallery__item__container__lightbox">
                        <div class="hollow-container"></div>
                        <h2>Development</h2>
                        <button data-controller="home_page" data-handler="preview_portfolio_item">
                            <i class="ti-search" data-controller="home_page" data-handler="preview_portfolio_item"></i>
                        </button>
                    </div>
                    <%= image_tag 'portfolio/laptop.jpg' %>
                </div>
            </div>
        </figure>
    </div>
</section>
<section class="skills" id="skills" data-page="home">
    <h2 class="section__header">Technical Skills</h2>
    <div class="skills__container">
        <div class="skills__container__item">
            <div class="skill__item-text">
                <div>HTML5, CSS, and JavaScript</div>
                <div>94%</div>
            </div>
            <div class="skill__percentage">
                <div class="skill__percentage__bar">
                    <div class="skill__percentage__progress" data-target-width="94"></div>
                </div>
            </div>
        </div>

        <div class="skills__container__item">
            <div class="skill__item-text">
                <div>Angular 2+</div>
                <div>73%</div>
            </div>
            <div class="skill__percentage">
                <div class="skill__percentage__bar">
                    <div class="skill__percentage__progress" data-target-width="73"></div>
                </div>
            </div>
        </div>

        <div class="skills__container__item">
            <div class="skill__item-text">
                <div>Node JS</div>
                <div>60%</div>
            </div>
            <div class="skill__percentage">
                <div class="skill__percentage__bar">
                    <div class="skill__percentage__progress" data-target-width="60"></div>
                </div>
            </div>
        </div>

        <div class="skills__container__item">
            <div class="skill__item-text">
                <div>Ruby on Rails</div>
                <div>80%</div>
            </div>
            <div class="skill__percentage">
                <div class="skill__percentage__bar">
                    <div class="skill__percentage__progress" data-target-width="80"></div>
                </div>
            </div>
        </div>

        <div class="skills__container__item">
            <div class="skill__item-text">
                <div>Phaser JS</div>
                <div>75%</div>
            </div>
            <div class="skill__percentage">
                <div class="skill__percentage__bar">
                    <div class="skill__percentage__progress" data-target-width="75"></div>
                </div>
            </div>
        </div>

        <div class="skills__container__item">
            <div class="skill__item-text">
                <div>Git and Nginx</div>
                <div>70%</div>
            </div>
            <div class="skill__percentage">
                <div class="skill__percentage__bar">
                    <div class="skill__percentage__progress" data-target-width="70"></div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="contact-me" id="contact" data-page="home">
    <h2 class="section__header">Get In Touch</h2>
    <h3 class="section__main-header">Contact Me</h3>
    <div class="contact__information">
        <div class="contact__information__item">
            <div class="contact__information__item__icon-container">
                <%= image_tag 'contact-me/email-red.png' %>
            </div>
            <h2 class="contact__information__item__header">
                Email
            </h2>
            <div class="contact__information__item__content">
                christianwillyngson@gmail.com
            </div>
            <div class="contact__information__item__content">
                monkkokkalis@gmail.com
            </div>
        </div>

        <div class="contact__information__item">
            <div class="contact__information__item__icon-container">
                <%= image_tag 'contact-me/location.png' %>
            </div>
            <h2 class="contact__information__item__header">
                Address
            </h2>
            <div class="contact__information__item__content">
                Benedicto College, A.S. Fortuna Street, Mandaue City, Cebu, Philippines
            </div>
        </div>
        
        <div class="contact__information__item">
            <div class="contact__information__item__icon-container">
                <%= image_tag 'contact-me/red-phone.png' %>
            </div>
            <h2 class="contact__information__item__header">
                Call me
            </h2>
            <div class="contact__information__item__content">
                +63 9613930188
            </div>
        </div>
    </div>
</section>
<footer>
    <div>&#x000A9; 2019. Created by Christian Will Yngson</div>
</footer>