<!DOCTYPE html>
<html>
    <head>
        <title>Professional Web Developer</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Cebu based Professional Web Developer specialized in creating responsive web applications using Ruby on Rails and Angular.">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Raleway&display=swap' %>
        <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato&display=swap' %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>